singularity {
	enabled = true
	autoMounts = true
}

includeConfig "conf/freebayes_params.config"

profiles {

	standard {
		params {
			outdir = "output"
			fasta = "/illumina/DevTest/user_space/Boris/Sorghum/Reference/Sorghum_bicolor.Sorghum_bicolor_NCBIv3.dna.toplevel.with_chloroplast.fa"
			bedFile = "/illumina/DevTest/user_space/Boris/Sorghum/Reference/Sorghum1177_SNP_wDel.bed"
			bamfile = "/illumina/DevTest/user_space/Boris/Sorghum/Alignments/Group_Freebayes-ploidy2/Freebayes-ploidy2_0_sorted.bam"
			comparison = "/illumina/DevTest/user_space/Boris/Sorghum/Sorghum1164_Plate_norm_2stage_known_GT.txt"
		}
	}

	mixed {
		params {
			outdir = "output"
			fasta = "/illumina/DevTest/user_space/Boris/Sorghum/Reference/Sorghum_bicolor.Sorghum_bicolor_NCBIv3.dna.toplevel.with_chloroplast.fa"
			bedFile = "/illumina/DevTest/user_space/Boris/Sorghum/Reference/Sorghum1177_SNP_wDel.bed"
			bamfile = "/illumina/DevTest/user_space/Samuel/Sorghum_data_4Berlin/1x75_2stage/RTx3362_BTx378_mixes/Mapping/Bowtie2-global/Sorghum_bicolor.Sorghum_bicolor_NCBIv3.dna.toplevel.with_chloroplast/Group_Freebayes-ploidy2/Freebayes-ploidy2_0_sorted.bam"
			comparison = "/illumina/DevTest/user_space/Boris/Sorghum/Sorghum1164_Plate_norm_2stage_known_GT.txt"
		}
	}

	slurm {
		process.executor ="slurm"
	}
}
