singularity {
	enabled = true
	autoMounts = true
}

profiles {

	standard {
		params {
			outdir = "output"
			fasta = "/illumina/DevTest/user_space/Boris/Sorghum/Reference/Sorghum_bicolor.Sorghum_bicolor_NCBIv3.dna.toplevel.with_chloroplast.fa"
			bedFile = "/illumina/DevTest/user_space/Boris/Sorghum/Reference/Sorghum1177_SNP_wDel.bed"
			bamfile = "/illumina/DevTest/user_space/Boris/Sorghum/Alignments/Group_Freebayes-ploidy2/Freebayes-ploidy2_0_sorted.bam"
			comparison = "/illumina/DevTest/user_space/Boris/Sorghum/Sorghum1164_Plate_norm_2stage_known_GT.txt"
		}

		includeConfig "conf/freebayes_params.config"
	}

	seqsnp {
		params {
			outdir = "output"
			fasta = "/illumina/Sequences/SeqSNP/ST5259G_2/ST5259G_2.fasta"
			bedFile = "/illumina/Sequences/SeqSNP/ST5259G_2/ST5259G_2_analysis-targets.bed"
			bamfile = "/illumina/DevTest/user_space/Boris/NGS2556/Alignments/Group_All/All_sorted.bam"
		}
	}

	slurm {
		process.executor ="slurm"
	}
}
