// config for caller
includeConfig "conf/freebayes_params.config"

// config for datasets
includeConfig "local_conf/datasets.config"

singularity {
	enabled = true
	autoMounts = true
}

report {
	enabled = true
	file = "report/report.html"
	overwrite = true
}

trace {
	enabled = true
	file = "report/trace.txt"
	overwrite = true
}

timeline {
	enabled = true
	file = "report/timeline.html"
	overwrite = true
}

dag {
	enabled = true
	file = "report/dag.html"
	overwrite = true
}

//process.executor ="slurm"

manifest {
	author = "Boris Caspary"
	description = "execute parameter sweeps for variant caller"
	nextflowVersion = "22.04.0"
}
