params {
	outdir = "output/BCFTOOLS_v1.9"
	workflow = "bcftools.nf"

	callingMethod = ["multiallelic-caller", "consensus-caller"]
	minMQ = 0..10
	minBQ = (13..19).by(2) + (19..30).by(3)

	hetCorrectFilter = [0, 0.15, 0.2, 0.25, 0.3]
	minCoverageThresh = [8, 10, 12, 15]

	paramNames = "calling-method min-MQ min-BQ"

	container = "https://depot.galaxyproject.org/singularity/bcftools:1.9--ha228f0b_4"
}
