params {
	outdir = "output/FREEBAYES_v1.3.6"
	workflow = "freebayes.nf"

	minQsum = (0..20).by(2)
	readMismatchLimit = 4..8
	minAlternateFraction = [0.01, 0.05, 0.1, 0.15, 0.2]
	noMnps = [false]
	noComplex = [false]

	hetCorrectFilter = [0, 0.15, 0.2, 0.25, 0.3]
	minCoverageThresh = [8, 10, 12, 15]

	paramNames = "min-supporting-allele-qsum read-mismatch-limit min-alternate-fraction no-mnps no-complex genotype-min-count-het-call-threshold genotype-min-coverage-threshold"

	container = "https://depot.galaxyproject.org/singularity/freebayes:1.3.6--h346b5cb_1"
}
