profiles {
	standard {
		params {
			workflow = "freebayes.nf"

			minQsum = 10
			readMismatchLimit = 4
			minAlternateFraction = 0.1666666666667
			noMnps = true
			noComplex = true

			container = "https://depot.galaxyproject.org/singularity/freebayes:1.2.0--py37h56106d0_4"
		}
	}

	twoversions {
		params {
			workflow = "freebayes.nf"

			minQsum = 10
			readMismatchLimit = [4, 8]
			minAlternateFraction = 0.1666666666667
			noMnps = true
			noComplex = true

			container = "https://depot.galaxyproject.org/singularity/freebayes:1.2.0--py37h56106d0_4"
		}
	}

	fullsweep {
		params {
			workflow = "freebayes.nf"

			minQsum = (0..20).by(2)
			readMismatchLimit = 4..8
			minAlternateFraction = [0.01, 0.05, 0.1, 0.15, 0.2]
			noMnps = [true, false]
			noComplex = [true, false]

			container = "https://depot.galaxyproject.org/singularity/freebayes:1.2.0--py37h56106d0_4"
		}
	}
}